# Preface
- ã“ã® Notebook ã¯ã€[Pandas: Column/Series  - dt accessor ã§æ—¥ä»˜/æ™‚åˆ»ã‚’ä¸€ç™ºã§å–ã‚Šå‡ºã—ãŸã„](https://ggcs.io/2020/10/26/pandas-accessors-dt) ã®æ‰‹é †è©³ç´°ç‰ˆã§ã™ã€‚Â¶
  - Website: ã”ãŸã”ãŸæ°—æµèª¿æŸ»æ‰€ https://ggcs.io
  - GitHub : Gota Gota Current Survey https://github.com/ggcurrs/gota2-observatory
  - Version 1.1.0
  - Date : 2020-10-25
  - Updated: 2020-10-26

# Data èª­ã¿è¾¼ã¿
- CSVãªã©ã‹ã‚‰å…ƒãƒ‡ãƒ¼ã‚¿ï¼ˆãƒ†ã‚­ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ï¼‰ã‚’ Pandas DataFreme ï¼ˆä»¥ä¸‹ã€ã€ŒDFã€ï¼‰ã«èª­ã¿è¾¼ã¿ã¾ã™ã€‚

In [9]:
import pandas as pd

df = pd.DataFrame(
    {'DATE_AND_TIME':
         ['2020-01-01 06:50',
          '2020-01-01 10:50',
          '2020-01-01 16:38',
          '2020-01-01 22:16'],
     'EVENT':
         ['Sunrise in Tokyo',
          'Moonrise in Tokyo',
          'Sunset in Tokyo',
          'Moonset in Tokyo']
     }
)

# This DF is spared for later use...ğŸ¤«
df2 = df.copy()

# Confirm
df.head()

      DATE_AND_TIME              EVENT
0  2020-01-01 06:50   Sunrise in Tokyo
1  2020-01-01 10:50  Moonrise in Tokyo
2  2020-01-01 16:38    Sunset in Tokyo
3  2020-01-01 22:16   Moonset in Tokyo

# æ—¥æ™‚ãƒ‡ãƒ¼ã‚¿ã‚’ Timestamp ã«å¤‰æ›
- DATE_AND_TIME åˆ—ï¼ˆSeriesï¼‰ã‚’å–ã‚Šå‡ºã—ã¦è¦‹ã‚‹ã¨ã€èª­ã¿è¾¼ã‚“ã ã°ã‹ã‚Šãªã®ã§ãƒ‡ãƒ¼ã‚¿ã¯ã‚‚ã¡ã‚ã‚“ãŸã ã® str ï¼ˆãƒ†ã‚­ã‚¹ãƒˆãƒ‡ãƒ¼ã‚¿ï¼‰ã§ã€Pandas ã¨ã—ã¦ã¯æ—¥ä»˜ãƒ»æ™‚åˆ»ãƒ‡ãƒ¼ã‚¿ã ã¨ã¯æ€ã£ã¦ã„ã¾ã›ã‚“ã‹ã‚‰ã€ä½•ã‹ã¨ä¸ä¾¿ã§ã™ã€‚

In [10]:
# Raw DataFreme
df.DATE_AND_TIME

0    2020-01-01 06:50
1    2020-01-01 10:50
2    2020-01-01 16:38
3    2020-01-01 22:16
Name: DATE_AND_TIME, dtype: object

## pandas.to_datetime() ç™»å ´ï¼
- ãã“ã§ã€ç§˜æŠ€ã€Œpandas.to_datatime()ã€ã‚’ä½¿ã£ã¦ data type ã‚’ datetime ã«å¤‰æ›ã—ã¾ã™ã€‚

cf. [Pandas: CSVã«æ–‡å­—å‹ã§è¨˜éŒ²ã•ã‚Œã¦ã„ã‚‹æ—¥ä»˜ã¨æ™‚é–“ã‚’Pandasã«èª­ã¿è¾¼ã‚“ã å¾Œã€æ—¥ä»˜ãƒ»æ™‚åˆ»å‹ã«ä¸€ç™ºå¤‰æ›ã—ãŸã„](https://ggcs.io/2020/05/10/pandas-date-time-format/)

In [11]:
# Convert object(str) to datetime 
df.DATE_AND_TIME = pd.to_datetime(df.DATE_AND_TIME)

# Confirm
df.DATE_AND_TIME

0   2020-01-01 06:50:00
1   2020-01-01 10:50:00
2   2020-01-01 16:38:00
3   2020-01-01 22:16:00
Name: DATE_AND_TIME, dtype: datetime64[ns]

## æ—¥ä»˜ãƒ‡ãƒ¼ã‚¿ã ã‘æŠ½å‡ºã—ãŸã„

- ã“ã®è¡¨ã®ãƒ‡ãƒ¼ã‚¿ã¯å…¨éƒ¨ 2020 å¹´ã®å…ƒæ—¥ã®ã‚‚ã®ãªã®ã§ã€æ—¥ä»˜ã¯å†—é•·ã§ã„ã‚‰ãªã„ã‹ã‚‚ã€ã¨ã„ã†ã“ã¨ã§ã€æ™‚åˆ»ãƒ‡ãƒ¼ã‚¿ã ã‘ã‚’å–ã‚Šå‡ºã™ã“ã¨ã«ã—ã¾ã™ã€‚
- å…ƒã® str ãƒ‡ãƒ¼ã‚¿ã®ã¾ã¾ã ã£ãŸã‚‰ slice ã§å–ã‚Šå‡ºã—ãŸã‚Šã€å ´åˆã«ã‚ˆã£ã¦ã¯ regex ã§åˆ‡ã‚Šå‡ºã—ãŸã‚Šã¨ã„ã‚ã„ã‚é¢å€’è‡­ã„è©±ã«ãªã‚‹ã¨ã“ã‚ã§ã—ãŸãŒã€ãŸã£ãŸã„ã¾ datetime å½¢å¼ã«å¤‰æ›ã—ãŸã®ã§ã€æ—¥ä»˜ã ã‚ã†ãŒæ™‚åˆ»ã ã‚ã†ãŒè‡ªç”±è‡ªåœ¨ã«å–ã‚Šå‡ºã›ã¾ã™ã€‚
- ã¨ã„ã†ã“ã¨ã§ã€`.strftime()` ã‚’ä½¿ã£ã¦æ™‚åˆ»ãƒ‡ãƒ¼ã‚¿ã‚’å–ã‚Šå‡ºã™ã“ã¨ã«ã—ã¾ã™ï¼ˆå–ã‚Šå‡ºã—å¾Œã¯ str ãƒ‡ãƒ¼ã‚¿ã«ãªã‚Šã¾ã™ï¼‰ã€‚

### strftime ã§æ—¥ä»˜æ–‡å­—åˆ—ï¼ˆstrï¼‰ã«å¤‰æ›ã™ã‚‹ãï¼ã€€â¡ï¸ã€€ã‚ã‚Œã‚Œï¼Ÿï¼

In [12]:
# strftime ã‚’ä½¿ã†ãŸã‚ã«ã¯ã“ã‚ŒğŸ‘‡ãŒå¿…è¦ã§ã™ã€‚
from datetime import datetime

df.DATE_AND_TIME.strftime('%H:%M:%S')

AttributeError: ignored

- `Series' object has no attribute 'strftime'` ï¼ˆSeries ã« strftime ã‚¢ãƒˆãƒªãƒ“ãƒ¥ãƒ¼ãƒˆã¯ç„¡ã„ã‚ˆï¼‰ã¨ã‹ã©ã†ã¨ã‹è¨€ã£ã¦ã‚‹ã€‚Excel ã¿ãŸã„ã«åˆ—ã‚’ä¸€ç™ºå¤‰æ›ã¨ã‹ã§ããªã„ã®ï¼Ÿä¸ä¾¿ã ãªâ€¦ã€‚`SEARCH STACK OVERFLOW` ãƒªãƒ³ã‚¯ã‚’è¾¿ã‚‹ã®ã‚‚é¢å€’ã ã‹ã‚‰ã“ã“ã¯ã‚µã‚µãƒƒã¨ loop ã§å›ã—ã¡ã‚ƒã£ãŸæ–¹ãŒæ—©ã„ã ã‚ã†ã€‚
- ã»ã‚‰ã€ç°¡å˜ã«ã§ãã¡ã‚ƒãŸï¼å¤©æ‰ã ãªğŸ‘ºã€‚

In [13]:
# 'f'ormat timedate to str.
for i in range(len(df)):
  df.at[i, 'DATE_AND_TIME'] = df.at[i, 'DATE_AND_TIME'].strftime('%H:%M:%S')

# Confirm
df
# ã§ããŸã€ã§ããŸï¼

  DATE_AND_TIME              EVENT
0      06:50:00   Sunrise in Tokyo
1      10:50:00  Moonrise in Tokyo
2      16:38:00    Sunset in Tokyo
3      22:16:00   Moonset in Tokyo

# ã‚ã‚“ãªãâ€¦ 
- ãªã©ã¨è˜Šè“„ã‚’å‚ã‚Œã¦ã„ãŸã‚‰ ã„ãšã“ã‹ã‚‰ã¨ã‚‚ãªãç¥æ§˜ã®å£°ãŒâ€¦
ã€Œã‚ã‚“ãªãã€Colab ã¯ã‚“ãŒè¦ªåˆ‡ã« `SEARCH STACK OVERFLOW` ã®ãƒªãƒ³ã‚¯ã‚’è²¼ã£ã¦ãã ã•ã£ã¦ã‚‹ã‚“ã‚„ã‹ã‚‰ç´ ç›´ã«èª­ã‚“ã ã‚‰ãˆãˆã‚„ã‚“ã‹ï¼ŸPandas ã®ä¸‰ç¨®ã®ç¥å™¨ dt, str, cat ã‚‚çŸ¥ã‚‰ãšã« loop ã¨ã‹æŠœã‹ã—ã¦ã‚‹å ´åˆã‚„ãªã„ã§ã€ãƒ›ãƒ³ãƒğŸ’¢ã€
- ã€Œ`pd.to_datetime` ã®ã‚ã¨ã€`dt` ã‚¢ã‚¯ã‚»ã‚µã‚’ä½¿ãˆã° 1è¡Œã§æ¸ˆã‚€è©±ï¼ã€

ãˆã‚‰ã„ã™ã‚“ã¾ã¸ã‚“ ğŸ™‡â€â™‚ï¸

## ã¨ã„ã†ã“ã¨ã§ã€ä»•åˆ‡ã‚Šç›´ã—ã€‚DF ã¯ã‚„ã‚Šç›´ã—ç”¨ã«ç”¨æ„ã—ã¦ãŠã„ãŸ df2 ã‚’ä½¿ã„ã¾ã™ã€‚

In [14]:
# Startng over.
# Convert object(str) to datetime 
df2.DATE_AND_TIME = pd.to_datetime(df2.DATE_AND_TIME)
# Confirm
df2.DATE_AND_TIME

0   2020-01-01 06:50:00
1   2020-01-01 10:50:00
2   2020-01-01 16:38:00
3   2020-01-01 22:16:00
Name: DATE_AND_TIME, dtype: datetime64[ns]

## ã§ã€`dt` ï¼ˆãŸã¶ã‚“ datetime ã®ç•¥ï¼‰ã‚¢ã‚¯ã‚»ã‚µã‚’ä½¿ãˆã° 1 è¡Œã§ãŠã—ã¾ã„ğŸ˜­

In [15]:
df2.DATE_AND_TIME = df2.DATE_AND_TIME.dt.time

# Confirm
df2.DATE_AND_TIME

# Note that the dtype is 'object' (str).

0    06:50:00
1    10:50:00
2    16:38:00
3    22:16:00
Name: DATE_AND_TIME, dtype: object

- æŠ˜è§’ãªã®ã§ã€åˆ—åï¼ˆcolumn nameï¼‰ã‚’ rename ã—ã¦ãŠãã¾ã™ã€‚

In [16]:
# Rename the column DATE_AND_TIME to TIME
df2.rename(columns={'DATE_AND_TIME': 'TIME'}, inplace=True)
df2

       TIME              EVENT
0  06:50:00   Sunrise in Tokyo
1  10:50:00  Moonrise in Tokyo
2  16:38:00    Sunset in Tokyo
3  22:16:00   Moonset in Tokyo

**Enjoy!**