# **ã“ã® Notebook ã¯ã€[Google Colab: PDF to CSV å¤‰æ›å™¨ã‚’ Colab ã«è¨­ç½® \[ç¬¬äºŒè©± æ­»é—˜ç¯‡\]  â€“ NaN ã¯ dtype: float ã§æ•æ‰ï¼ï¼‰](https://ggcs.io/2020/08/11/google-colab-pdf-export-02/)ã®æ‰‹é †è©³ç´°ç‰ˆã§ã™ã€‚**

- Website: ã”ãŸã”ãŸæ°—æµèª¿æŸ»æ‰€  https://ggcs.io
- GitHub : Gota Gota Current Survey  https://github.com/ggcurrs
- Version 1.2.0
- Date   : 2020-08-11
- Updated: 2020-08-17

# ä½œæ¥­æº–å‚™

- å‰æ1: tabula-py ãŒ Google Drive ã® ~/My Drive/Colab Notebooks/my-modules ã«ã‚¤ãƒ³ã‚¹ãƒˆãƒ¼ãƒ«ã•ã‚Œã¦ã„ã‚‹ã“ã¨ã€‚
- å‰æ2: èª­ã¿è¾¼ã¿å…ƒã® PDF ãŒã€Google Drive ã® ~/My Drive/pdf_project/data/2018_co_list_jp_r.pdf ã«ç½®ã‹ã‚Œã¦ã„ã‚‹ã“ã¨ã€‚
ã‚‚ã—ä¸Šè¨˜ã®å‰æãŒæº€ãŸã•ã‚Œã¦ã„ãªã„ã‚ˆã†ã§ã—ãŸã‚‰ã€[Google Colab: PDF to CSV å¤‰æ›å™¨ã‚’ Colab ã«è¨­ç½® \[ç¬¬ä¸€è©± ç«‹å¿—ç¯‡\] â€“ ã“ã‚Œã§ã‚³ãƒ”ãƒšä½œæ¥­ ã‹ã‚‰é–‹æ”¾ï¼](https://ggcs.io/2020/08/05/google-colab-pdf-export-01/)ã‚’å‚ç…§ã®ä¸Šã€æº–å‚™ã‚’æ•´ãˆã¦ãã ã•ã„ã€‚

In [ ]:
# Google Drive ã®ãƒã‚¦ãƒ³ãƒˆã€‚
from google.colab import drive
drive.mount('/content/drive')

# Modules ã® import.
import os
import sys
# PATH ã‚’é€šã™ï¼ˆPython ã« modules ã®å ´æ‰€ã‚’æ•™ãˆã‚‹ï¼‰
MODULE_PATH = '/content/drive/My Drive/Colab Notebooks/my-modules'
sys.path.append(MODULE_PATH)
import tabula  # Module ã®å ´æ‰€ã‚’æ•™ãˆãŸã®ã§ã€import.
import pandas as pd  # å¿µã®ãŸã‚æ˜ç¤ºçš„ã« import ã—ã¦ãŠãã€‚


# ãƒ‡ã‚£ãƒ¬ã‚¯ãƒˆãƒªæ§‹é€ ã‚’å®šç¾©ã™ã‚‹ã€‚
PROJECT_ROOT_PATH = '/content/drive/My Drive/pdf_project'
DATA_PATH   = os.path.join(PROJECT_ROOT_PATH, 'data')
OUTPUT_PATH = os.path.join(PROJECT_ROOT_PATH, 'output')

print('æº–å‚™å®Œäº† ğŸ»')

# PDF ãƒ•ã‚¡ã‚¤ãƒ«ã®èª­ã¿è¾¼ã¿ (Load a PDF File)

In [ ]:
%%time
# PDF ãƒ•ã‚¡ã‚¤ãƒ«ã®èª­ã¿è¾¼ã¿ï¼ˆ30 ç§’ç¨‹åº¦æ›ã‹ã‚Šã¾ã™ï¼‰
# WARNING ãŒå‡ºã¾ã™ãŒã€ä»Šå›ã®ç›®çš„ã¨ã®é–¢ä¿‚ã§ã¯ç„¡è¦–ã—ã¦å·®ã—æ”¯ãˆã‚ã‚Šã¾ã›ã‚“ã€‚
df_list = tabula.read_pdf(os.path.join(DATA_PATH, '2018_co_list_jp_r.pdf'), pages='5-112')

# Data Cleansing

## **ç¾çŠ¶ç¢ºèª**
æœ¬ç•ªä½œæ¥­ã¯ Column > Rows ã®é †ç•ªã§è¡Œã„ã¾ã™ãŒã€ä½œæ¥­ã®éƒ½åˆä¸Šã€DataFrame ï¼ˆä»¥ä¸‹ã€ŒDFã€ï¼‰ã® shape ã‚’å…ˆã«ç¢ºèªã—ã¾ã™ã€‚

### DataFrame Shape ã®ç¢ºèª
- tabula ã§èª­ã¿è¾¼ã‚“ã  PDF ãƒ•ã‚¡ã‚¤ãƒ«ã«ã¯ã€PDF ã®ãƒšãƒ¼ã‚¸ã§ p.5 ã‹ã‚‰ p.112 ã¾ã§ã®åˆè¨ˆ 108 pages åˆ†ã® DF ãŒãƒªã‚¹ãƒˆã®å½¢ã§æ ¼ç´ã•ã‚Œã¦ã„ã¾ã™ã€‚
- ã“ã“ã§ã€ãã‚Œãã‚Œã® DF ã® shape ï¼ˆrow \* columnsï¼‰ã‚’ç¢ºèªã—ã¦ã¿ã¾ã™ï¼ˆTABLE 1ï¼‰ã€‚
1. ã™ã¹ã¦ã® DF ãŒ 6 columns ãªã®ã§ã€ã“ã‚Œã¯å‰å ±ã€‚é …ç›®åˆ—ã«å¤§ããªå•é¡Œã¯ãªã•ãã†ã§ã™ã€‚
2. ã»ã¨ã‚“ã©ã® DF ãŒ 48 rowsï¼ˆp.112 (6, 6) ã¯æœ€å¾Œã®è¡¨ã ã‹ã‚‰ 6 rows ã§ OKï¼‰ã§ã€ã‚ªãƒªã‚¸ãƒŠãƒ« PDF ã¨æ¯”è¼ƒã—ã¦ã‚‚ãã†ãªã£ã¦ã„ã‚‹ã®ã§ã“ã‚Œã‚‚è‰¯ã— ğŸ‘
3. ã—ã‹ã—ã€ãŸã¨ãˆã° p.012 (111, 6) ï¼ˆ= df_list[7]ï¼‰ãªã©ã® raw æ•°ã¯æ˜ã‚‰ã‹ã«ãŠã‹ã—ã„ğŸ˜±
  - ã®ã§ã‚ªãƒªã‚¸ãƒŠãƒ« PDF ã¨æ¯”è¼ƒã™ã‚‹ãªã©ã—ã¦ç¢ºèªã™ã‚‹ã¨â€¦ã€‚
  - ã“ã‚Œã¯ãƒã‚ºã‚¤ã€‚æã‚‰ããŠãŠã‚‚ã¨ã®åŸç¨¿ã¨ãªã£ãŸ Excel ã§ã‚»ãƒ«å†…æ”¹è¡Œï¼ˆOption+æ”¹è¡Œï¼‰ãŒè¡Œã‚ã‚Œã¦ã„ãŸãŸã‚ã€æœ¬æ¥ã¯ 1 row ã¨è§£é‡ˆã™ã¹ãã¨ã“ã‚ã€tabula ãŒ 3 rows ã¨è§£é‡ˆã—ã¦ã—ã¾ã£ãŸæ¨¡æ§˜ã€‚

In [ ]:
# TABLE 1: Shape of DFs
for i, each_df in enumerate(df_list):
  if i % 5 == 0:
    print()
  print('p.'+str(i+5).zfill(3), each_df.shape, ' ', end='')

### Column Names ã®ç¢ºèª
- æ¬¡ã®ã‚¹ã‚¯ãƒªãƒ—ãƒˆã‚’èµ°ã‚‰ã›ã¦ 108 å€‹ã® DF ã® è¡¨é ­ï¼ˆMicrosoft Word ã§ã„ã†ã¨ã“ã‚ã®ã€Œã‚¿ã‚¤ãƒˆãƒ«è¡Œã€ï¼‰ã‚’ç¢ºèªã™ã‚‹ã¨ä»¥ä¸‹ã®ã“ã¨ãŒã‚ã‹ã‚Šã¾ã™ï¼ˆTABLE 2ï¼‰ã€‚
1. ç•°ãªã‚‹è¡¨é ­ï¼ˆcolumn namesï¼‰ãŒæ··åœ¨ã—ã¦ã„ã‚‹ã€‚ã“ã‚Œã¯å¾Œã§ DF ã‚’ 1 å€‹ã«ã¾ã¨ã‚ã‚‹ï¼ˆconcatenateï¼‰ã¨ãã«æ‚²åŠ‡ã‚’æ‹›ãåŸå› ã¨ãªã‚‹ï¼ˆã‚ªãƒªã‚¸ãƒŠãƒ« PDF ã® column names ã¯æƒã£ã¦ã„ãŸã®ã ãŒ tabula èª­è¾¼ / parse æ™‚ã«ä¹±ã‚Œã¦ã—ã¾ã£ãŸ ï¼‰ã€‚
2. Column name ã«å…¨è§’æ–‡å­—ã‚„ã‚¹ãƒšãƒ¼ã‚¹ã€æ”¹è¡Œæ–‡å­—ï¼ˆ\rï¼‰ãªã©ãŒå«ã¾ã‚Œã¦ã„ã‚‹ã€‚ä½œæ¥­ã®éƒ½åˆã‹ã‚‰è¨€ã†ã¨ã€ã“ã‚Œã‚’æ”¾ç½®ã—ã¦ãŠãã¨ã‚ã¨ã‚ã¨æ‚©ã¿ã®ã‚¿ãƒã«ãªã‚‹ã€‚

In [ ]:
# TABLE 2: Column Names of the DFs
# ã‚ªãƒªã‚¸ãƒŠãƒ«ã® Column names ç¢ºèª
column_names = [each_df.columns for each_df in df_list]
column_names

## æ–¹é‡

### Column é–¢ä¿‚
- ä»Šå¾Œã®ã“ã¨ï¼ˆPandas ã‚„ database ã§å–ã‚Šæ‰±ã†ã“ã¨ï¼‰ã‚’è€ƒãˆã‚‹ã¨ã€ä»Šã®ã†ã¡ã« column names ã¯ä»¥ä¸‹ã®ãƒ«ãƒ¼ãƒ«ã§ä»˜ã‘æ›¿ãˆã¦ãŠã„ãŸæ–¹ãŒç„¡é›£ã§ã™ã€‚
  - åŠè§’è‹±æ•°å­—ï¼ˆacsii æ–‡å­—ï¼‰ã®ã¿ä½¿ç”¨
  - space ã‚„ãƒ’ãƒˆã‚¯ã‚»ã‚ã‚Šãã†ãªè¨˜å·é¡ã¯ä½¿ã‚ãªã„
  - è‹±å­—ã¯åŸå‰‡ã¨ã—ã¦å°æ–‡å­—ã¨ã™ã‚‹

### Row é–¢ä¿‚
  - å•é¡ŒãŒèµ·ãã¦ã„ã‚‹ã¨ã“ã‚ã¯æ¦‚ã­ã€3 è¡Œã§ 1 çµ„ï¼ˆtriadï¼‰ã«ãªã£ã¦ã„ã‚‹å°è±¡ï¼ˆTABLE 3ï¼‰ã€‚
  - ãŸã¨ãˆã°ã€index =  [6, 7, 8] ã® triad ã‚’ä¾‹ã«è¦‹ã‚‹ã¨ã€
row 7 ã® column 0 ï¼ˆ'å·' ãŸã ã—æ¬¡ step ã§ 'state_code' ã« renameï¼‰ã«ã¯ value ('DL') ãŒå…¥ã£ã¦ã„ã‚‹ãŒã€ãã®ä¸Šä¸‹ã® row 6  ã¨ row 8 ãŒ NaN ã«ãªã£ã¦ã„ã‚‹ï¼ˆNaN-str-NaN patternï¼‰ã€‚
  - ä»–ã®éƒ¨åˆ†ã‚’è¦‹ã¦ã‚‚åŒæ§˜ãªã®ã§ã€ã“ã®ãƒ‘ã‚¿ãƒ¼ãƒ³ã«ãªã£ã¦ã„ã‚‹ 3-rows ã‚’ãƒ¯ãƒ³ã‚»ãƒƒãƒˆï¼ˆtriadï¼‰ã«ã—ã¦ç‰‡ä»˜ã‘ã‚Œã°ãªã‚“ã¨ã‹ãªã‚Šãã†ã€‚
  - ã©ã® column ã‚’å¯¾è±¡ã«ã€ŒTriad ç‹©ã‚Šã€ã‚’ã™ã‚‹ã‹ã‚‚é‡è¦ã€‚å®Ÿéš›ã€column 0 ã‚’å¯¾è±¡ã«ã—ãŸå ´åˆã¯ OK ã ãŒã€column 2 ã‚’å¯¾è±¡ã«ç‹©ã‚’è¡Œã†ã¨ã€ç„¡å®Ÿã® row ï¼ˆãŸã¨ãˆã° index = 12 ã® row ãªã©ï¼‰ã¾ã§æ•æ‰ã—ã¦å¤‰æ›ã—ã¦ã—ã¾ã£ã¦è©°ã¿ã¾ã™ğŸ˜±
  - ã•ã‚‰ã«ã€ã“ã® Triad pattern ãŒäºˆæœŸã—ãªã„ rows ã‚’æ•æ‰ã—ã¦ã„ãªã„ã‹ã‚‚ç¢ºã‹ã‚ã¦ãŠãå¿…è¦ãŒã‚ã‚‹ã€‚
  - ã‚ï¼ index =  [36, 37, 38] ã¯ triad ã¨ã—ã¦æ•æ‰ã—ã¦ã—ã¾ã†ã¨ãƒã‚ºã‚¤ã€‚ã“ã®ã¾ã¾ã§ã¯ bug ã§ã™ï¼ˆãŒã€è¦‹åˆ‡ã‚Šç™ºè»Šã—ã¾ã™ ğŸšƒï¼‰ã€‚

In [ ]:
# TABLE 3: 'TRIADs' found in DF.
df_list[7].head(39)

## å®Ÿé¨“ (Test)

### Column Names ã®å¤‰æ›´å®Ÿé¨“
- Column names ã®å¤‰æ›´ã®æ–¹ã¯å˜ç´”ãªè©±ãªã®ã§ã€ã“ã¡ã‚‰ã‚’å…ˆã«ç‰‡ä»˜ã‘ã‚‹ã“ã¨ã«ã—ã¾ã™ï¼ˆçµæœ > TABLE 4ï¼‰ã€‚
- åå‰ã®å¯¾å¿œã¯ã€
  - å·: state_code
  - æ‹ ç‚¹åœ°å: location
  - ç•ªå·: sc_num
  - ã‚¤ãƒ³ãƒ‰é€²å‡ºä¼æ¥­å: 'com_in'
  - è¦ªä¼šç¤¾å: com_jp
  - æ¥­ç¨®: biz_type

In [ ]:
# ã‚ªãƒªã‚¸ãƒŠãƒ«ã® DF ã«å½±éŸ¿ã‚’ä¸ãˆãªã„ã‚ˆã†ã€å¿µã®ãŸã‚ã‚³ãƒ”ãƒ¼ã«å¯¾ã—ã¦æ“ä½œ
test_df_list = df_list.copy()

In [ ]:
# æ–°ã—ã„ column names ã®å®šç¾©
new_column_names = ['state_code', 'location', 'sc_num', 'com_in', 'com_jp', 'biz_type']
# 108 å€‹ã® DataFrame ã® column name ã‚’çµ±ä¸€ã™ã‚‹ã€‚
for each_df in test_df_list:
  each_df.columns = new_column_names

In [ ]:
# TABLE 4: Renamed Columns
# å¤‰æ›å¾Œã® Column names ç¢ºèª
for each_df in test_df_list:
  print(each_df.columns)

### Non-48-row-DF ã®æ•´å½¢å®Ÿé¨“
1. æ•´å½¢æ“ä½œæ¦‚è¦
- ä¸Šè¨˜ã®ã€Œç¾çŠ¶ç¢ºèªã€ã‚’çœºã‚ã¦ã¿ã‚‹ã¨ã€columns 3, 4, 5 ã®ãã‚Œãã‚Œã«ã¤ã„ã¦ã€NaN-str-NaN ãƒ‘ã‚¿ãƒ¼ãƒ³ã® 3 rows ã‚’ 1 row ã«ã¾ã¨ã‚ã€ã‹ã¤ã€æ–‡å­—åˆ— 'nan' ãŒå…¥ã‚‰ãªã„ã‚ˆã†ã«ã™ã‚Œã°ã‚ˆã•ãã†ã€‚æ–¹æ³•ã¨ã—ã¦ã¯;
  - Method A: ãƒªã‚¹ãƒˆå†…åŒ…è¡¨è¨˜ã‚’ä½¿ã†æ–¹æ³•;
  - Method B: Filter ã‚’ä½¿ã†æ–¹æ³• 1;
  - Method C: Filter ã‚’ä½¿ã†æ–¹æ³• 2

  ã§è©¦ã—ã¦ã¿ã‚‹ã€‚
2. çµæœã‚’è¦‹ã‚‹ã¨ã€ã„ãšã‚Œã® Method ã§ã‚‚å¾—ã‚‰ã‚Œã‚‹çµæœã«é•ã„ã¯ã‚ã‚Šã¾ã›ã‚“ãŒã€åˆ¥é€”æ¸¬å®šã—ãŸã¨ã“ã‚ Method Aï¼ˆãƒªã‚¹ãƒˆå†…åŒ…è¡¨è¨˜ï¼‰ã®å‡¦ç†é€Ÿåº¦ãŒè‹¥å¹²æ—©ã‹ã£ãŸã®ã§ã€æœ¬ç•ªã§ã¯ Method A ã‚’ä½¿ã†ã“ã¨ã«ã—ã¾ã™ã€‚

In [ ]:
# Methods A, B and C ã‚’è©¦ã—ã¦ã¿ã‚‹ã€‚
def akb_48_test(bad_df):
  '''Search for the NaN-str-NaN pattern in the column 2, 
     educate and transform non_48 DataFrames to akb_48 DataFrames'''
  bad_df.reset_index()  # Preparation / å¿µã®ãŸã‚
  for i in range(1, len(bad_df) - 1):
    # Find NaN-str-NaN (float-str-float) patterns ('triad' streaches)
    # in the column 2.
    if (
        (type(bad_df.iat[i-1, 0]) == float) &
        (type(bad_df.iat[i  , 0]) == str) &
        (type(bad_df.iat[i+1, 0]) == float)):
      # Target cells in the columns 3, 4, and 5.
      clm_3_triad = [bad_df.iat[i-1, 3], bad_df.iat[i, 3], bad_df.iat[i+1, 3]]
      clm_4_triad = [bad_df.iat[i-1, 4], bad_df.iat[i, 4], bad_df.iat[i+1, 4]]
      clm_5_triad = [bad_df.iat[i-1, 5], bad_df.iat[i, 5], bad_df.iat[i+1, 5]]

      # clm ã¯ä¿®æ­£å‰ã€new ã¯ä¿®æ­£ã—ãŸã‚‚ã®ã€‚ä¸¦ã¹ã¦æ¯”è¼ƒ
      print('\nIndex', str(i).zfill(3), 'Â± 1',
            
            '\nclm_3_triad', clm_3_triad,  # Method A (List comprehension)
            '\nnew_3_triad', [x for x in clm_3_triad if not type(x) == float],

            '\n\nclm_4_triad', clm_4_triad,  # Method B (Filter/lambda)
            '\nnew_4_triad', list(filter(lambda x: not type(x) == float, 
                                         clm_4_triad)), 

            '\n\nclm_5_triad', clm_5_triad,  # Method C (Filter/lambda)
            '\nnew_5_triad', list(filter(lambda x: x if not type(x) == float 
                                         else None, clm_5_triad)),'\n'
            )
      

if __name__ == '__main__':
  akb_48_test(test_df_list[7])

## æœ¬ç•ª

### Column Names ã®å¤‰æ›´
- ä¸Šè¨˜ã®ã€Œå®Ÿé¨“ã€ã§è¡Œãªã£ãŸã®ã¨å…¨ãåŒã˜æ“ä½œã‚’æœ¬ç•ªç”¨ DF å…¨ä½“ï¼ˆ108 å€‹ï¼‰ã«å¯¾ã—ã¦è¡Œã„ã¾ã™ã€‚

In [ ]:
# Rename columns.
new_column_names = ['state_code', 'location', 'sc_num', 'com_in', 'com_jp', 'biz_type']
# 108 å€‹ã® DataFrame ã® column name ã‚’çµ±ä¸€ã™ã‚‹ã€‚
for each_df in df_list:
  each_df.columns = new_column_names

### Non-48-row-DF ã®æ•´å½¢
- 108 å€‹ã® DF ã®ã†ã¡ã€ã»ã¨ã‚“ã©ï¼ˆ104 å€‹ï¼‰ã¯ 48 rows \* 6 columns (æœ€å¾Œã® DF ã¯ 6 rows \* 6 columnsï¼‰ãªã®ã§ã€ä¸‹æ‰‹ã«æ•´å½¢æ“ä½œã‚’åŠ ãˆã¦å£Šã—ã¡ã‚ƒã†ã¨å«Œéãã‚‹ã€‚
- ãã“ã§ã€å•é¡Œã®ã‚ã‚‹ 4 å€‹ã® DF ã‚’å«ã‚“ã ãƒªã‚¹ãƒˆã‚’éš”é›¢ï¼ˆlist_df_non_48ï¼‰ã—ã€ã“ã‚Œã«å¯¾ã—ã¦ã ã‘ä¿®æ­£æ“ä½œã‚’è¡Œã†ã“ã¨ã«ã—ã¾ã™ã€‚

In [ ]:
# Isolate non_48-row type DFs as df_non_48.
list_df_non_48 = [each_df for each_df in df_list if len(each_df) > 48]
list_df_48     = [each_df for each_df in df_list if len(each_df) <= 48]

In [ ]:
def akb_48(bad_df):
  '''Educate and transform non_48 DataFrames to akb_48 DataFrames'''
  # Create 'good_df' for output.
  good_df = bad_df.copy()
  bad_df.reset_index()  # Preparation / å¿µã®ãŸã‚
  for i in range(1, len(bad_df) - 1):
    # Find NaN-str-NaN (float-str-float) patterns ('triad' streaches)
    # in the column 0.
    if (
        (type(bad_df.iat[i-1, 0]) == float) &
        (type(bad_df.iat[i  , 0]) == str) &
        (type(bad_df.iat[i+1, 0]) == float)):
      # Target triads in the columns (clm) 3, 4, and 5
      clm_3_triad = [bad_df.iat[i-1, 3], bad_df.iat[i, 3], bad_df.iat[i+1, 3]]
      clm_4_triad = [bad_df.iat[i-1, 4], bad_df.iat[i, 4], bad_df.iat[i+1, 4]]
      clm_5_triad = [bad_df.iat[i-1, 5], bad_df.iat[i, 5], bad_df.iat[i+1, 5]]
      # Merge each triad into one, remove NaN (NaN: dtype = float).
      new_clm_3 = ', '.join([x for x in clm_3_triad if not type(x) == float])
      new_clm_4 = ', '.join([x for x in clm_4_triad if not type(x) == float])
      new_clm_5 = ', '.join([x for x in clm_5_triad if not type(x) == float])
      # Refresh the columns 3, 4, 5 of the good_df (output DF).
      good_df.iat[i, 3] = new_clm_3
      good_df.iat[i, 4] = new_clm_4
      good_df.iat[i, 5] = new_clm_5

  # Drop gargabe rows
  good_df.dropna(subset= ['sc_num'], inplace=True)
  # After dropping rows, reset the index!
  good_df.reset_index(drop=True, inplace=True)
  
  return good_df


if __name__ == '__main__':
  # Create an empty list.
  list_df_yes_48 = []
  # Cleansing
  for bad_df in list_df_non_48:
    good_df = akb_48(bad_df)
    list_df_yes_48.append(good_df)

### çµæœç¢ºèª
- ã±ã£ã¨è¦‹ã¯è‰¯ã„ï¼ˆæ¦‚ã­ã†ã¾ãã„ã£ãŸï¼‰ã®ã ã‘ã©ã€
- ä»¥ä¸‹ã® rows ã«å•é¡ŒãŒã‚ã‚‹ã€‚ > æœ€å¾Œã«ç›®è¦–ç¢ºèªã—ã¦æ‰‹ä½œæ¥­ã§ä¿®æ­£ã—ãŸæ–¹ãŒæ—©ã„ã®ã§ã€ãã®ã‚ˆã†ã«ã™ã‚‹æ–¹é‡ï¼ˆæ•—åŒ—æ„Ÿâ€¦ğŸ˜­ï¼‰ã€‚
1. list_df_new[0]
  - 13	HR	Bawal	7
  - 18	HR	Bawal	12
  - 32	HR	Bawal	26
  - 34	HR	Bawal	28
  - 41	HR	Dharuhera	35
2. list_df_new[1]
  - 24	MH	Mumbai	273
3. list_df_new[2]
  - 14	TN	Chennai	176
  - 35	TN	Chennai	197
4. list_df_new[3]
  - 15	TN	Chennai	225
  - 24	TN	Chennai	234
  - 26	TN	Chennai	236
  - 29	TN	Chennai	239
  - 36	TN	Chennai	246
  - 37	TN	Chennai	247
  - 38	TN	Chennai	248
  - 47	TN	Chennai	257

In [ ]:
# Check the results.
list_df_yes_48[0]

In [ ]:
# Check the results.
list_df_yes_48[1]

In [ ]:
# Check the results.
list_df_yes_48[2]

In [ ]:
# Check the results.
list_df_yes_48[3]

## DF List > Single DF
- ã¾ã å•é¡ŒãŒæ®‹ã£ã¦ã„ã‚‹ã“ã¨ã‚’é‡ã€…æ‰¿çŸ¥ã®ä¸Šã§ã€ã“ã‚Œã‚’æ”¾ç½®ã—ã¦æ¬¡ã«é€²ã¿ã¾ã™ï¼ˆğŸ‘ˆæ€¥ã„ã¦ã¯äº‹ã‚’ä»•æã˜ã‚‹ã‚¿ã‚¤ãƒ—ï¼‰ã€‚
1. df_non_48 ã‚’ä¿®æ­£ã—ãŸ list_df_yes_48 ã¨ã€å–ã‚Šåˆ†ã‘ã¦æ¸©å­˜ã—ã¦ãŠã„ãŸ df_48 ã¨ã‚’åˆä½“ã—ã¦å¾©å…ƒã€‚
2. å¾©å…ƒã—ãŸ df_list_tmp ã®ä¸­èº«ï¼ˆ108 å€‹ã® DFï¼‰ã‚’ 1 æœ¬ã®å˜ç‹¬ DF ã« concatenate ã™ã‚‹ï¼ˆã¤ãªã’ã‚‹ï¼‰ã€‚
3. ã“ã‚Œã¾ã§ã®æ“ä½œã‚’åŠ ãˆãŸå¾Œã§ 'state_code' ãŒ NaN ã® row ã¯ row ã”ã¨ drop ã—ã¦ã‚‚å¤§ä¸ˆå¤«ãªã®ã§ã€dropna ã—ã¦ãŠãã€‚
4. Row ã‚’ drop ã—ãŸã‚ã¨ã¯ reset_index() ã—ã¦æ°—åˆ†ä¸€æ–°ã€‚

In [ ]:
# 1. Reconstruct the DF list.
df_list_tmp = list_df_yes_48 + list_df_48 
# 2. Concatenate 108 DFs to produce intermediate DF.
df_all_intermed = pd.concat(df_list_tmp)
# 3. Remove garvage rows.
df_all_intermed.dropna(subset = ['state_code'], inplace=True)
# 4. Reset the index of the DF.
df_all_intermed.reset_index(drop=True, inplace=True)

# ä¸­é–“ãƒ¬ãƒ“ãƒ¥ãƒ¼ Review
- ä¸­é–“ç”£ç‰©ã® describe() ã‚’å–ã£ã¦ã€ä»•ä¸ŠãŒã‚Šå…·åˆã‚’ç¢ºèªã—ã¾ã™ï¼ˆTABLE 5ï¼‰ã€‚
1. ã‚ªãƒªã‚¸ãƒŠãƒ« PDF ã®è¡¨ã¯è¤‡æ•°ãƒšãƒ¼ã‚¸ã«åˆ†ã‹ã‚Œã¦ãŠã‚Šã€ãã‚Œãã‚Œã«è¡¨é ­ãŒä»˜ã„ã¦ã„ã¾ã™ï¼ˆMicrosoft Word ã§ã„ã†ã¨ã€Œã‚¿ã‚¤ãƒˆãƒ«è¡Œã®ç¹°ã‚Šè¿”ã—ã€çŠ¶æ…‹ï¼‰ã€‚ã“ã®ãŸã‚ã€df_all_intermed ã«ã¯ä½™åˆ†ã®è¡¨é ­ãŒå«ã¾ã‚Œã¦ã„ã¾ã™ã€‚
  - ãã®çµæœã€ä¾‹ãˆã°ã€TABLE 5 ã§ state_code ï¼ˆåŸºç¤çŸ¥è­˜: ã‚¤ãƒ³ãƒ‰ã®å·ã®ç•¥è¨˜ã€‚è‹±å­— 2 æ–‡å­—ã€‚æœ¬è³‡æ–™ä½œæˆæ™‚ç‚¹ã§ 33 ç¨®é¡ï¼‰ã® unique ãŒ 70 ï¼ˆæœ¬æ¥ãªã‚‰ 33 ã®ã¯ãšï¼‰ã¨ãªã£ã¦ã„ã‚‹ã®ã¯ã€state_code ã®ã¨ã“ã‚ã«è¡¨é ­ã®æ–‡å­—åˆ—ãŒå…¥ã£ã¦ã—ã¾ã£ã¦ã„ã‚‹ãŸã‚ã¨æ¨æ¸¬ã•ã‚Œã¾ã™ï¼ˆhead() method ãªã©ã‚’ä½¿ã£ã¦ç°¡å˜ã«ç¢ºèªã§ãã¾ã™ï¼‰ã€‚
2. com_in ï¼ˆç¾åœ°æ‹ ç‚¹ï¼‰ã® count ãŒ 5106 ã¨ãªã£ã¦ã„ã‚‹ã®ã¯è‰¯ã„çŸ¥ã‚‰ã›ã§ã™ï¼ˆã‚ªãƒªã‚¸ãƒŠãƒ« PDF ã®æœ€åˆã«æ›¸ã„ã¦ã‚ã‚‹ã‚ˆã†ã«ã€æ—¥ç³»ä¼æ¥­ã®èª¿æŸ»æ™‚ç‚¹ã«ãŠã‘ã‚‹ç¾åœ°æ‹ ç‚¹æ•°ã¯ 5102 ã‹æ‰€ã§ã™ï¼‰ã€‚
3. 'sc_num' columnï¼ˆå·ã”ã¨ã«æŒ¯ã£ã¦ã‚ã‚‹æ‹ ç‚¹ç•ªå·ã€‚å½“ç„¶ integer ã§ãªã‘ã‚Œã°ãªã‚‰ãªã„ï¼‰ãŒ decimal ã½ãè¡¨ç¤ºã•ã‚Œã¦ã„ã¾ã™ãŒã€DF ã‚’ç›´æ¥ç¢ºèªã—ãŸã‚‰ã€ã¡ã‚ƒã‚“ã¨ int å‹ã«ãªã£ã¦ã„ãŸã®ã§å¤§ä¸ˆå¤«ğŸ˜Š

In [ ]:
# TABLE 5: Description of the intermediate DF
df_all_intermed.describe()

       state_code  location  ...  com_jp                            biz_type
count        5142      5108  ...    4942                                5106
unique         70       737  ...    1100                                  57
top            MH  Gurugram  ...  æ—¥æœ¬ç”Ÿå‘½ä¿é™º  26 é‡‘èæ¥­ã€ä¿é™ºæ¥­/  Finance and insurance
freq          810       456  ...     629                                1419

[4 rows x 6 columns]

- 'state_code' column ã« è‹±å­—2æ–‡å­—ã® state code ä»¥å¤–ã®ã‚‚ã®ãŒå…¥ã£ã¦ã‚‹ rows ã¯ç°¡å˜ã« drop ã™ã‚‹ã“ã¨ãŒã§ãã‚‹ã®ã§ã€ã„ã¾ã¯ Review ä¸­ã§ã™ãŒã¡ã‚‡ã£ã¨ä½œæ¥­ã‚’ã—ã¦ã€ã‚µã‚¯ãƒƒã¨ drop ã—ã¦ãŠãã“ã¨ã«ã—ã¾ã™ï¼ˆğŸ‘ˆè¨ˆç”»æ€§ã®æ¬ å¦‚ï¼‰ã€‚
- çµæœï¼ˆTABLE 6ï¼‰ã‚’è¦‹ã‚‹ã¨ã€'state_code' ã® unique ã‚‚ã¡ã‚ƒã‚“ã¨ 33 ã«ãªã£ãŸã—ã€
- ä»–ã® columns ã‚‚æ¦‚ã­ 5102ï¼ˆè³‡æ–™ä½œæˆæ™‚ç‚¹ã®ç¾åœ°æ‹ ç‚¹æ•°ï¼‰ã¨ä¸€è‡´ã—ã¦ãŠã‚Šã€ã‚´ãƒ¼ãƒ«ã¯è¿‘ã„ï¼

In [ ]:
for i in range(len(df_all_intermed) - 1):
  if not len(df_all_intermed.at[i, 'state_code']) == 2:
    df_all_intermed.drop(i, inplace=True)
# Don't forget to reset the index.
df_all_intermed.reset_index(drop=True, inplace=True)

In [ ]:
# TABLE 6: Description of the intermediate DF
df_all_intermed.describe()

       state_code  location  ...  com_jp                            biz_type
count        5102      5102  ...    4938                                5102
unique         33       734  ...    1099                                  56
top            MH  Gurugram  ...  æ—¥æœ¬ç”Ÿå‘½ä¿é™º  26 é‡‘èæ¥­ã€ä¿é™ºæ¥­/  Finance and insurance
freq          810       456  ...     629                                1419

[4 rows x 6 columns]

# â˜•ï¸ã“ã“ã§ä¼‘æ†©
- ã“ã“ã¾ã§ã®ä½œæ¥­çµæœã‚’ã€CSV ã«ä¿å­˜ã—ã¾ã™ï¼ˆGoogle Drive ã«ä½œã£ãŸ data ãƒ•ã‚©ãƒ«ãƒ€ã®ä¸­ã« 'df_all_intermed.csv'ã¨ã„ã† åå‰ã§ä¿ç®¡ã—ã¾ã™ã€‚ï¼‰

In [ ]:
# ä»¥ä¸‹ã§èª¬æ˜ã™ã‚‹å•é¡ŒãŒç™ºè¦šã—ãŸãŸã‚ã€ã„ã£ãŸã‚“ã‚³ãƒ¡ãƒ³ãƒˆã‚¢ã‚¦ãƒˆã—ã¾ã™ã€‚
#df_all_intermed.to_csv(os.path.join(DATA_PATH, 'df_all_intermed.csv'), index=False)

## é‡å¤§äº‹å®Ÿã®ç™ºè¦šğŸ˜±
- Google Drive ã‹ã‚‰ df_all_intermed.csv ã‚’ local ã«è½ã¨ã—ã¦ã€é©å½“ãªã‚½ãƒ•ãƒˆã§é–‹ã„ã¦ã¿ã‚‹ã¨â€¦ã€‚
  - ã‚¤ã‚¤ã­ã€ã‚¤ã‚¤ã­ã€å®Œç’§ã˜ã‚ƒã‚“ã€ã»ã¼å‡ºæ¥ä¸ŠãŒã‚ŠğŸ˜¸
  - â€¦ã¨æ€ã„ãã‚„ã€é€”ä¸­ã‹ã‚‰å¤‰ãªã¨ã“ã‚ã§ row ãŒæŠ˜ã‚Šè¿”ã•ã‚Œã€shape ãŒãƒ¡ãƒãƒ£ãƒ¡ãƒãƒ£ã«ãªã£ã¦ã—ã¾ã†äº‹æ¡ˆãŒå¤šç™ºï¼Ÿãªã‚“ãªã®ã€ã‚³ãƒ¬ï¼ŸğŸ˜±
  - ã“ã‚Šã‚ƒä½•ã‹å¤‰ãªäº‹ã‚’ã‚„ã‚‰ã‹ã—ã¡ã‚ƒã£ãŸã‹ãªï¼Ÿã¨ã€script ä¿®æ­£ã‚’æ•°å›è©¦ã¿ã‚‹ã‚‚ç—‡çŠ¶ã¯å¤‰ã‚ã‚‰ãšğŸ˜­

## åŸå› åŠã³å¯¾ç­–
- ã—ã°ã—èŒ«ç„¶è‡ªå¤±ã¨ã—ã¦ã„ãŸã‚‰ã€ã©ã“ã‹ã‚‰ã‹ç¥æ§˜ã®å£°ãŒâ€¦ã€‚
- ã€Œr ã ã‚ˆã€r. \r, râ€™\râ€™, CR !ã€
- ã‚ã‚ã€æ€ã„å‡ºã—ãŸã€‚è‡ªåˆ†ã§ã‚‚ã€ŒColumn Names ã®ç¢ºèªã€ã®ã¨ã“ã‚ã§ã€ã€ŒColumn name ã«å…¨è§’æ–‡å­—ã‚„ã‚¹ãƒšãƒ¼ã‚¹ã€æ”¹è¡Œæ–‡å­—ï¼ˆ\rï¼‰ãªã©ãŒå«ã¾ã‚Œã¦ã„ã‚‹ã€‚ã€ã£ã¦æ›¸ã„ã¦ã‚‹ã˜ã‚ƒã‚“ï¼Ÿ
- ãã“ã§å•é¡Œã®ç®‡æ‰€ã‚’ç¢ºèªã™ã‚‹ã¨ã€åŸç¨¿ã® Excel ã§ã€Œã‚»ãƒ«å†…æ”¹è¡Œã€ãŒè¡Œã‚ã‚Œã¦ã„ãŸã¨ãŠã¼ã—ãã¨ã“ã‚ã« \r ãŒæŒ¿å…¥ã•ã‚Œã¦ã„ã¾ã—ãŸã€‚
- ã¨ã„ã†ã‚ã‘ã§ã€ã‚„ã‚Šç›´ã—ã€‚æ”¹è¡Œæ–‡å­—ï¼ˆ\rï¼‰ã‚’å·®ã—éšœã‚Šã®ãªã•ãã†ãªæ–‡å­—åˆ— '\<br\>' ã« replace ã—ã¦ã‹ã‚‰ä¿å­˜ã™ã‚‹ã“ã¨ã«ã—ã¾ã™ã€‚

In [ ]:
# regex ã§ \r ã‚’ <br> ã« replace
df_all_intermed.replace(r'\r', r'<br>', inplace=True, regex=True)
# CSV ã«ä¿å­˜
df_all_intermed.to_csv(os.path.join(DATA_PATH, 'df_all_intermed.csv'), index=False)

## Excel ã§ä¿å­˜ã—ãŸã‚‰å¤§ä¸ˆå¤«ã ã£ãŸ
- ã‚‚ã—ã‹ã—ãŸã‚‰ã€ã¨æ€ã£ã¦ã€CSV ã˜ã‚ƒãªãã¦ Excel ãªã‚‰ Microsoft åŒå£«ã ã‹ã‚‰å¿–åº¦ã—ã¦ãã‚Œã‚‹ã‚“ã˜ã‚ƒãªã„ã‹ã€ã¨æ€ã£ã¦ã€ ã‚’ <br> ã« replace ã™ã‚‹å‰ã® DF ã§è©¦ã—ãŸã¿ãŸã¨ã“ã‚ã€
- äºˆæƒ³ã«é•ã‚ãšã€\r ãŒæ··å…¥ã—ãŸ DF ã‚‚ä½•ã®å•é¡Œã‚‚ãªãæœŸå¾…ã—ãŸå½¢å¼ã®è¡¨ã¨ã—ã¦ Excel Book ã«ä¿å­˜ã§ãã¾ã—ãŸï¼ˆãƒ¤ãƒ¬ãƒ¤ãƒ¬â€¦ï¼‰ã€‚
- ï¼ˆè¿½è¨˜ï¼‰ãŒã€ã“ã®ãƒ•ã‚¡ã‚¤ãƒ«ã«ã¯ä¾ç„¶ã¨ã—ã¦åœ°é›·ãŒåŸ‹ã¾ã£ã¦ã„ã‚‹ã‚ã‘ã§ã™ã‹ã‚‰ã€å®Ÿéš›ã«ã¯ä½¿ã‚ãªã„ã“ã¨ã«ã—ã¾ã™ã€‚

In [ ]:
#df_all_intermed.to_excel(os.path.join(DATA_PATH, 'df_all_intermed.xlsx'), index=False)

# æ¬¡å›è¨ˆç”»
1. å®¿é¡Œï¼ˆcf.ã€Œçµæœç¢ºèªã€ï¼‰ã‚’ç‰‡ä»˜ã‘ã‚‹ã€‚ãã‚Œã‹ã‚‰ã€CSV ã«ãŠã¨ã—ãŸã‚‰ 'sc_num' ã¯ã‚„ã¯ã‚Š decimal ã£ã½ããªã£ã¦ã„ãŸã®ã§ã“ã‚Œã‚‚ç›´ã™ã€‚
2. 'biz-type' ã®æ­£è¦åŒ–ã€‚ç¾çŠ¶ã§ unique å€¤ãŒ 56 å€‹ã§ã™ãŒã€ã“ã‚Œã¯æœ¬å½“ã®æ•°ã®å€ãã‚‰ã„ã«å¢—ãˆã¡ã‚ƒã£ã¦ã„ã¾ã™ï¼ˆtriad é€€æ²»ãªã©ã®å½±éŸ¿ï¼‰
3. è¡¨å…¨ä½“ã®ç›®è¦–ç¢ºèª
4. æ­£è¦åŒ–: 'com_in', 'com_jp', 'biz_type' ã¯åˆ¥ã® table ã«åˆ†ã‘ã¦ foreigh key ã§å¼•ã£å¼µã£ã¦ãã‚‹ã‚ˆã†ã«ã—ãŸæ–¹ãŒè‰¯ã•ãã†ï¼ˆè¨€ã†ã®ã¯ç°¡å˜ï¼‰ã€‚